<html>
    <head>
        <title>Cake Attack</title>
    </head>
    <body>
        <div>
            <h1><a href="">All About Cake</a></h1>
        </div>

        <div>
            <p>published: 16.07.2017, 11:10</p>
            <h2><a href="">My first post: Cake Anywhere, Everywhere</a></h2>
            <p>Eric eats cake at work. His cake is fancy. I eat cake on my way to my Django Girls follow up tutorial. It cost €0.90 at Edeka and I'm eating it out of a plastic bag.</p>
        </div>

        <div>
            <p>published: 17.07.2017, 21:20</p>
            <h2><a href="">Recipe: The Best Chocolate Cake In The World</a></h2>
            <p>This should be kept a secret, because it is our secret weapon at all parties. Combine 350 g flour, 500 g sugar, 200 g cocoa powder, 200 g milk, then bake at 180º for 30 mins. Slather in World's Best Chocolate Frosting, then shove your face in it.</p>
        </div>
    </body>
</html>